.suggestions {
  background-color: #2325344f;
  backdrop-filter: blur(3px);
  left: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.suggestion {
  color: #414c59;
}

.active {
  color: #a6b4c4;
}